<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <timestamp key="BY_DATE" datePattern="yyyy-MM-dd"/>
    <property name="LOG_PATTERN"
              value="[%d{yyyy-MM-dd. HH:mm:ss.SSSS}] [%thread] %-5level [%C.%yellow(%M:%L)] - %msg%n"/>

    <springProfile name="!prod">
        <include resource="appender/console-appender.xml"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <include resource="appender/info-appender.xml"/>
        <include resource="appender/warn-appender.xml"/>
        <include resource="appender/error-appender.xml"/>

        <root level="INFO">
            <appender-ref ref="FILE-INFO"/>
            <appender-ref ref="FILE-WARN"/>
            <appender-ref ref="FILE-ERROR" />
        </root>
    </springProfile>
</configuration>