<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="flab.commercemarket.domain.product.mapper.ProductMapper">

    <resultMap id="productResultMap" type="flab.commercemarket.domain.product.vo.Product">
        <id property="id" column="id"/>
        <result property="name" column="product_name"/>
        <result property="price" column="price"/>
        <result property="imageUrl" column="image_url"/>
        <result property="description" column="description"/>
        <result property="stockAmount" column="stock_amount"/>
        <result property="salesAmount" column="sales_amount"/>
        <result property="likeCount" column="like_count"/>
        <result property="sellerId" column="seller_id"/>
    </resultMap>

    <insert id="insertProduct" parameterType="flab.commercemarket.domain.product.vo.Product" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO product (product_name, price, image_url, description, stock_amount, seller_id)
        VALUES (#{name}, #{price}, #{imageUrl}, #{description}, #{stockAmount}, #{sellerId})
    </insert>

    <update id="updateProduct" parameterType="flab.commercemarket.domain.product.vo.Product">
        UPDATE product
        SET
        product_name = #{name},
        price = #{price},
        image_url = #{imageUrl},
        description = #{description},
        stock_amount = #{stockAmount}
        WHERE
        id = #{id}
    </update>

    <select id="findById" parameterType="long" resultMap="productResultMap">
        SELECT * FROM product where id = #{id}
    </select>

    <select id="findAll" parameterType="map" resultMap="productResultMap">
        SELECT * FROM product LIMIT #{offset}, #{size}
    </select>

    <select id="countProduct" resultType="int">
        SELECT COUNT(*) FROM product
    </select>

    <select id="searchProduct" resultMap="productResultMap">
        SELECT * FROM product
        WHERE product_name LIKE CONCAT('%', #{keyword}, '%')
        LIMIT #{offset}, #{size}
    </select>

    <select id="searchProductCountByKeyword" resultType="int">
        SELECT COUNT(*) FROM product WHERE product_name LIKE CONCAT('%', #{keyword}, '%')
    </select>

    <delete id="deleteProduct" parameterType="long">
        DELETE FROM product where id = #{id}
    </delete>

    <update id="updateLikeCount" parameterType="flab.commercemarket.domain.product.vo.Product">
        UPDATE
        product
        SET
        like_count = #{likeCount}
        WHERE id = #{id}
    </update>
</mapper>