<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="flab.commercemarket.domain.wishlist.mapper.WishListMapper">

    <resultMap id="wishListResultMap" type="flab.commercemarket.domain.wishlist.vo.WishList">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="productId" column="product_id"/>
    </resultMap>

    <insert id="insertWishList" parameterType="long" keyProperty="id">
        INSERT INTO wish_list (user_id, product_id)
        VALUES (#{userId}, #{productId})
    </insert>

    <select id="getWishListItemByUserId" parameterType="long" resultMap="wishListResultMap">
        SELECT * FROM wish_list WHERE user_id = #{userId}
    </select>

    <select id="getWishListItemByUserIdWithPagination" resultMap="wishListResultMap">
        SELECT * FROM wish_list
        WHERE user_id = #{userId}
        ORDER BY id DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="getWishListCountByUserId" resultType="int">
        SELECT COUNT(*) FROM wish_list WHERE user_id = #{userId}
    </select>

    <select id="findById" parameterType="long" resultMap="wishListResultMap">
        SELECT * FROM wish_list WHERE id = #{id}
    </select>

    <delete id="deleteWishList" parameterType="long">
        DELETE FROM wish_list where id = #{id}
    </delete>

    <select id="isExistentUser" resultType="boolean">
        SELECT EXISTS(
                       SELECT 1 FROM market_user WHERE id = #{userId}
                   ) AS exist
    </select>

    <select id="isExistentProduct" resultType="boolean">
        SELECT EXISTS(
                       SELECT 1 FROM product WHERE id = #{productId}
                   ) AS exist
    </select>
</mapper>